$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

$red: #ff0000;

$blueRTM: #0060bf;
$lightblueRTM: #d7e7f5;
$showlightblueRTM: #e4eef8;
$orangeRTM: #D87F4F;
$searchRTM: #2678C9;

$yodaGreen: #4fa847;
