html {
	position: relative;
	height: 100%;
}


body {
	width: 100%;
	overflow: inherit;
	margin: 0 auto;
	font-family: $sans-serif;
	font-size: 16px;
	background-color: $showlightblueRTM;
}
// lightblueRTM

button, input[type="submit"] {
	background-color: $blueRTM;
  // border-bottom: 4px solid $dark-blue;
	color: white;
	font-weight: bold;
	padding: 7px 9px;
	margin: 5px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

button:hover, input[type="submit"]:hover {
	background-color: $darkest-blue;
  // border-bottom: 2px solid $dark-blue;
  position: relative;
  top: 2px;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none !important;
}

.hide {
	visibility: hidden;
}

/*
	Font Elements
*/

h1 {
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

p {
	line-height: 16px;
}

img {
	width: 100%;
	height: 100%;
}

small {
	font-size: 9px;
	color: $gray;
	font-family: $sans-serif;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

/*
	Images
*/

.thumbnail {
	height: 100px;
}

.thumbnail img {
	object-fit: cover;
}

/*
	Inputs
*/

input[type='text'] {
	font-family: $sans-serif;
	border: 1px solid $gray;
	border: 2px solid $lightblueRTM;
	padding-left: 2px;
}

input[type="search"] {
	padding: 5px;
}

i:hover{
	cursor: pointer;
}

.fa:hover{
	color: $yodaGreen;
}
