.ModalRemove{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
