.mainHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 55px;
  background-color: $blueRTM;
  align-items: center;
}

.iconAndTitle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerIcon{
  height: inherit;
  background-color: white;
  border-radius: 1000px;
  height: 46px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border: 2px solid black;
}

.headerTitle{
  color: white;
  font-size: 2.5vw;
  padding: 0;
  margin-left: 10px;
}

.mainHeader button{
  margin-right: 10px;
  margin-top: 5px;
  height: 10px;
  font-size: 1.3vmin;
  background-color: inherit;
}
.mainHeader button:hover{
  color: $light-blue;
  border-color: $darkest-blue;
}

.getIn{
  display: flex;
  padding-left: 5px;
  margin-left: 10px
}

.errors{
  color: $red;
  list-style-type: circle;
}
