.mainHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: $blueRTM;
  align-items: center;
  z-index: 3;
}

.iconAndTitle{
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerIcon img{
  height: inherit;
  background-color: inherit;
  border-radius: 1000px;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
  // border: 2px solid $blueRTM;
}

.headerTitle{
  color: white;
  font-size: 2.5vw;
  padding: 0;
  margin-left: 10px;
}

.search-input{
  background-color: white;
  border: 1px solid $lightblueRTM;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  position: relative;
  text-indent: 12px;
  right: 170px;
}
.search-input input{
  width: 280px;
}

.mainHeader button{
  padding: 0 30px;
  margin: 0;
  height: 100px;
  font-size: 2.0vmin;
  background-color: inherit;
  border: 0px
}
.mainHeader button:hover{
  color: $yodaGreen;
}

.getIn{
  display: flex;
  padding: 0 20px 0 0px;
  margin-right: 30px
}

.errors{
  color: $red;
  list-style-type: circle;
}
