.totalShowSummery{
  display: block;
}

.totalShowSummery h4{
  margin: 15px;
  font-size: 22px;
  margin-left: 20px;
  font-weight: lighter;
}
.ShowSummary{
  display: flex;
}
.ShowSummary li{
  background-color: $lightblueRTM;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px;
  border-radius: 5px;
}

.ShowSummary li:first-child{
  margin-left: 15px;
}
.ShowSummary li:first-child h6{
    color: $blueRTM;
}
.ShowSummary li:last-child h6{
  color: $orangeRTM;
}

.ShowSummary h6{
  font-size: 1.4vw;
  margin: 0 10px;
}
.ShowSummary ul li h6{
  font-size: 1.4vw;
  margin: 0 10px;
}
.ShowSummary p{
  font-size:  1.2vw;
}

.TaskShowEdit button{
  position: relative;
  top: 20px;
  left: 46px
}
.TaskShowEdit button:hover{
  position: relative;
  top: 22px;
}

// show the charts
.List_Show{
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.List_Show h2{
 font-size: 19px;
 font-style: italic;
 font-weight: 100;
 background-color: white;
 padding: 5px
}


// --- show a single task

.showTaskStaff{
  display: block;
}

.showTaskStaff h4{
  margin-left: 30px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: lighter;

}

.showTaskStaff ul{
  display: block;
}

.showTaskStaff ul li{
  display: flex;
}

.showTaskStaff ul li p{
 flex: 6;
 font-size: 1.2vw;
 padding-top: 10px;
}

.showTaskStaff ul li .first-child{
 flex: 2;
}

.showTaskStaff ul li{
  margin-left: 50px;
  margin-right: 20px;
}



// ---- Edit Stuff ----
// mass assignment buttons
.highlight{
  background-color: $blueRTM;
}
.TaskShowEdit h3{
  margin-left: 10vw;
  margin-top: 30px;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: lighter;
}


.TaskEdit{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  height: 400px;
}

.TaskEdit label{
  display: flex;

}

.TaskEdit label p{
  flex: 1;
  margin-left: 30px;
}

.TaskEdit label {
  margin-left: 30px;
  margin-top: 7px;
}

.TaskEdit input[type='text']{
  flex: 3;
  width: 200px;
}

.TaskEdit input[type='date']{
  flex: 3;
  width: 130px;
}

.TaskEdit input[type='text']{

}
.TaskEdit label section{
  flex: 3;
  flex-shrink: 10;
  width: 30px;
}
.TaskEdit input[type='submit']{
  margin-left: 7vw;
  margin-top: 15px;
  width: 12vw;
}
