.empty_list{
  display: block;
  width: inherit;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  color: $yodaGreen;
}

.nav_tabs_holder{
  display: flex;
}
.nav_tabs_holder div{
  height: inherit;
  flex: 1;
  border-bottom: 1px solid #ddd;
}
.nav-tabs{
  flex: 1 !important;
}
.nav-tabs a{
  padding: 5px !important;
}


.DayPickerKeyboardShortcuts__show{
  visibility: hidden;
}
.react-selectize.root-node{
  width: 154px !important;
}
.DateInput{
  width: 80px !important;
  padding: 3px 8px  !important;

}
.DateInput:hover {
  cursor: pointer !important;
  background-color: $yodaGreen !important;
}
.DateInput__display-text{
  padding: 0 !important;
}

.dropdown-menu{
  top: 60% !important;
}


.mainbodySection{
  display: block;
  flex: 1.3;
  height: 45vw;
  border-radius: 20px;
  background-color: white;
}
.mainPageHeaders{
  display: flex;
  justify-content: space-between;
}

.TheMassAssingnButtons{
  display: flex;
}

 #massIcons {
  margin-top: 15px;
  margin-left: 20px;
}

.mainbodySection nav{
  margin-top: 10px;
}
.mainbodySection .DeleteAction{
  display: flex
}


.DeleteAction{
  display: flex;
  width: 50px;
  margin-left: 10px;
}


 .DeleteAction p{
  visibility: hidden;
    width: 60px;
    height: 36px;
    background-color: $lightest-blue;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: relative;
    top: 50px;
    right: 35px;
    z-index: 1;
}

.TaskCheckMarkMessage1 p{
  position: relative;
  top: 30px;
  right: 48px;
}

.DeleteAction:hover p{
  visibility: visible;
}

////////////
.mainbodySection .CompleteAction{
  display: flex
}


.CompleteAction{
  display: flex;
}


 .CompleteAction p{
  visibility: hidden;
    width: 90px;
    height: 30px;
    background-color: $lightest-blue;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    position: relative;
    top: 50px;
    right: 48px;
    z-index: 1;
}

.TaskCheckMarkMessage2 p{
  position: relative;
  top: 30px;
  right: 58px;
}

.CompleteAction:hover p{
  visibility: visible;
}
// ------------------------
.TaskListHolder{
  overflow: auto;
  height: 33vw;
}

.TaskListHolder .CompleteAction{
  width: 45px;
}
.TaskList{
  display: flex;
  border-top: 1px dotted $light-gray;
  flex-grow: 300px;
  justify-content: center;
  align-items: center;
  margin-left: 9px;
  font-size: 13px;
  width: 45vw;
  position: relative;
  left: 10px;
}

.TaskList:last-child{
  border-bottom: 1px dotted $light-gray;
}

.TaskList a{
  flex: 10;
  padding: 10px 0px;
}
.mainbodySection input{
  padding: 5px;
  margin-left: 10px;
  margin-right: 15px;
}

.TaskList a:hover{
  background-color: lightyellow;
  flex: 10;
  text-decoration: none;
}

.TaskList input[type='checkbox']:hover{
  cursor: pointer;
}

.TaskList li{
  font-size: 1.2vw;
}

#addTitle {
  width: 40vw;
  border: 2px solid $lightblueRTM;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
  height: 20px;
}

.addTaskForm button .value{
  visibility: hidden;
  width: 120px;
  background-color:$lightest-blue;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: 160px;
  z-index: 1;
}

.addTaskForm button:hover .value{
  visibility: visible;
}



.addTaskButtons{
  display: flex;
}
.addTaskButtons input[type='submit']{
  flex: 1;
  margin-right: 10px;
  height: 15px;
}

.editButtons{
  flex: 10;
  display: flex;
  margin-left: 20px;
  // justify-content: space;
}

.mainbodySection input[type='text'] {
  border: 1px solid $lightblueRTM;
  border-radius: 2px;
  height: 26px;
  margin: 0 20px;
}

.addTaskForm label input{
  margin-right: 4px;
}
