.mainLayout {
 display: flex;
}

.mainSideBar{
  flex: 1.2;
  background-color: $lightblueRTM;
}

.mainBody{
  flex: 6;
  height: 100vh;
}

.MAINBODYCONTAINER{
  display: flex;
}

.mainbodySection{
  flex: 1.3;
  height: 100vh;
  border-radius: 10px;
  background-color: white;
}
.mainShowSection{
  flex: 1;
  background-color: $showlightblueRTM;
  border-radius: 10px;
  height: 100vh;
}
