.mainLayout {
 display: flex;
}

.blueSpace {
  height: 10px;
}

.mainSideBar{
  flex: 1;
  background-color: $lightblueRTM;
}

.mainBody{
  flex: 3;
  background-color: white;
  border-radius: 10px;
  height: 100vh;
}

.mainShowSection{
  flex: 3;
  background-color: $showlightblueRTM;
  border-radius: 10px;
  height: 100vh;

}
