
// ---- List stuff--------
#mainSideBar{
  width: 85%;
  margin-left: 15px;
}

.mainSideBarRange{
  display: block;
  border-bottom: 1px solid $light-blue;
  padding-bottom: 5px;
}

.mainSideBarRange a{
  font-size: 1.3vw;
}

.mainSideBarRange h4{
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 1.4vw;
  font-weight: lighter;
}

.mainSideBarRangeToggle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.indexRap a{
  width: inherit;
  display: block;
}
.indexRap:hover{
  background-color: $lightest-blue;
  text-decoration: none;
  cursor: pointer;
}


.mainSideBarRangeToggle i{
  margin-left: 9%;
  margin-right: 6px;
  width: 10px;
  margin-right: 18px;
}
.mainSideBarRangeToggle div{
  flex-grow: 1;
}

.mainSideBarRangeToggle i:hover{
  cursor: pointer;
  border-bottom: 2px solid;

}

.sidebarRanges{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebarRanges a{
  display: block;
  padding: 4px 0;
  padding-left: 46px;
}
.mainSideBar a:hover{
  background-color: $lightest-blue;
  text-decoration: none;
  cursor: pointer;
}

// ---- List stuff--------


.mainSideBarList{
  display: block;
  border-bottom: 1px solid $light-blue;
  padding-top: 5px;
  padding-bottom: 10px;
}

.mainSideBarListToggle{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.mainSideBarListToggle div{
  display: flex;
  margin-left: 14px;
}

.mainSideBarListToggle div i{
  padding-right: 26px;
  width: 5px
}
.mainSideBarListToggle div p{
  font-size: 1.3vw;
  height: 20px;
}

.mainSideBarListToggle i p{
  visibility: hidden;
  width: 100px;
  background-color: $lightest-blue;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 14px;


   /* Position the tooltip */
  position: absolute;
  right: -4px;
  z-index: 1;
}

.mainSideBarListToggle i:hover p{
  visibility: visible;
}
.mainSideBarListToggle i:hover p:hover{
  background-color: $light-blue;
  text-decoration: none;
  cursor: pointer;
}

.mainSideBarListToggle .fa-plus-circle{
  position: relative;
  top: 1px;
  right: 3px;
}

.mainSideBarListToggleLInk{
  flex-grow: 4;
}
.mainSideBarListToggleLInk:hover{
  background-color: $lightest-blue;
  text-decoration: none;
  cursor: pointer;
}

.mainSideBarListToggleLInk i p{
  font-size: 1.3vw;
}


.listRap{
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.listRap div{
  display: flex;
  justify-content: space-between;

  margin-top: 7px;
}
.listRap div a{
  flex-grow: 10;
  padding-left: 50px;
  height: 30px;
  font-size: 1.3vw;
}

.listRap div i{
  padding-right: 8px;
}
.listRap div i ul{
  visibility: hidden;
  width: 120px;
  background-color: $lightest-blue;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 0;

   /* Position the tooltip */
  position: absolute;
  left: 100px;
  z-index: 100;
}
.listRap div i ul li{
  padding: 2px;
  height: 20px;
  font-size: 14px;
}
.listRap div i:hover ul{
  visibility: visible;
}
.listRap div i:hover ul li:hover{
  background-color: $light-blue;
  cursor: pointer;
}
