.mainbodySection{
  display: block;
}
.mainbodySection li{
  border-top: 1px dotted $light-gray;
  padding: 10px 5px;
  margin-left: 0 5px;
  font-size: 13px;
}
.mainbodySection ul:last-child{
  padding-top: 10px;
}
.mainbodySection ul:last-child{
  border-bottom: 1px dotted $light-gray;
  margin:  0 5px;
}

.mainbodySection input{
  padding: 5px;
  margin-left: 10px;
  margin-right: 6px;
}

.mainbodySection li:hover{
  background-color: lightyellow;
}
.mainbodySection a:hover{
  text-decoration: none;
}


#addTitle {
  width: 40vw;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 5px;
  margin-top: 40px;
  margin-left: 10px;
  height: 20px;
}

.addTaskForm button .value{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: 160px;
  z-index: 1;
}
.addTaskForm button:hover .value{
  visibility: visible;
}

.addTaskButtons{
  display: flex;
}
.addTaskButtons input[type='submit']{
  flex: 1;
  margin-right: 10px;
  height: 15px;
}

.editButtons{
  flex: 10;
}
.mainbodySection input[type='text'] {
  border: 1px solid gray;
  border-radius: 2px;
  height: 15px;
}

.addTaskForm label input{
  margin-right: 4px;
}
