.mainHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: $blueRTM;
}


.mainHeader button{
  margin-right: 10px;
  margin-top: 5px;
  height: 10px;
  background-color: inherit;
}
.mainHeader button:hover{
  background-color: $light-blue;
  border-color: $darkest-blue;
}

.getIn{
  display: flex;
  padding-left: 5px;
  margin-left: 10px
}

.errors{
  color: $red;
  list-style-type: circle;
}
