.splashPage{
  display: block;
}

.splashPageMain{
  flex: 1 100%;
  // background-image: url('http://res.cloudinary.com/dwuzkffrk/image/upload/c_scale,q_100,r_0,w_822/v1489761837/happybackground_zdvlf9.jpg');
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.splashPageMainImage{
  flex: 1 100%;
  opacity: 1.5;
  width: 100%;
  height: inherit;
  position: absolute;
  top: 50;
  left: 0;
}

.splashPageMain h1 {
  font-size: 2.5vw;
  position: absolute;
  top: auto;
  left: 13%;
  right: 16%;
  top: 35%;
  color: $blue;
}
.splashPageMain p {
  font-size: 1.3vw;
  font-style: italic;
  position: absolute;
  top: auto;
  left: 30%;
  bottom: 50%;
  color: $lightest-blue;
}

.splashPageMain button {
  font-size: 1.3vw;
  position: absolute;
  left: 32%;
  bottom: 25%;
}

.splashPageFooter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Source {
  display: flex;
  flex: 1;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.Source img{
  width: 10px;
  height: 10px;
}
.Source a{
  flex: 6;
  width: 20px;
}
.Creator{
  display: flex;
  flex: 1.5;
  justify-content:  flex-start;
  align-items:  center;
  height: 10vw;
}
.Creator img{
  width: 10px;
  height: 10px;
}
.Creator a{
  flex: 10;
  width: 20px;
  justify-content:  flex-start;
  align-items:  center;
}
