.splashPage{
  display: block;
}

.splashPageMain{
  flex: 1 100%;
  background-image: url('http://res.cloudinary.com/dwuzkffrk/image/upload/v1490230658/yoda_l0z7ed.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 79vw;
}

.splashPageMain h1 {
  font-size: 4vw;
  position: absolute;
  left: 40%;
  bottom: 50%;
  color: $lightest-blue;
}
.splashPageMain p {
  font-size: 2vw;
  font-style: italic;
  position: absolute;
  left: 30%;
  bottom: 47%;
  color: $lightest-blue;
}

.splashPageMain button {
  font-size: 1.3vw;
  position: absolute;
  left: 45%;
  bottom: 37%;
}

.splashPageFooter{
  display: flex;
  align-items: center;
}


.Source {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 7vw;
  position: relative;
  left: 10%;
}
.Source a:hover{
  background-color: $light-blue;
  text-decoration: none;
}

.Creator{
  flex: 1;
  display: flex;
  justify-content:  center;
  align-items:  center;
  height: 7vw;
  position: relative;
  right: 10%;
}

.Creator a:hover{
  background-color: $light-blue;
  text-decoration: none;
}
