<!DOCTYPE html>
<html>
  <head>
    <title>ForgetNot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- for local only -->
    <link href="http://diegoddox.github.io/react-redux-modal/0.5/react-redux-modal.min.css" rel="stylesheet" type="text/css">
    <!-- for heroku note http*s* -->
    <link href="https://diegoddox.github.io/react-redux-modal/0.5/react-redux-modal.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="http://res.cloudinary.com/dwuzkffrk/image/upload/v1490233585/yoda-face_wznugm.ico"/>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
